<% layout('layouts/boilerplate.ejs') %> 

    <h1>Add new Campgound:</h1>
    <form action="/campgrounds"  method="POST">
        <label for="title">Title: </label>
        <input id="title" name="campground[title]" type="text">
        <label for="location">Location: </label>
        <input id="location" name="campground[location]" type="text">
        <button>Add new Campground</button>
    </form>
